<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <nav class="navbar bg-info">
    <div class="container-fluid">
        <div class="mynewnav">
      <div class="navbar-header">
      
        <a class="navbar-brand"> Post Project</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{%url 'index'%}">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'profile'%}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
            <li><a href="{%url 'newProject' %}">Post Project</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="{% url 'search_results' %}">
          <input type="text" class="form-control" placeholder="Search Projects" name="search" style="height: 30px; width: 200px;" >
          <button class="btn btn-success" type="submit">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
  </nav>

</body>
</html>