border1{
  border: 10px solid red;
}
h1{
  background-color: cyan;
}
body{
  background-color: aquamarine;
}
.card{
  text-align: center;
  background-color: azure;
}
.cardshow{
  border: 20px solid green;
  background-color: chartreuse;
  padding: 10px;
  margin: 10px;
}