body{
  background-color:skyblue
}
h1 {
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.allphotos{
  display: flex;
  background-color: rgb(201, 223, 201);
  justify-content: center;
}
img{
  height: 150px;
  width: 180px;
  border-radius: 10px;
  display: flex;
}