border1{
  border: 10px solid red;
}
h1{
  background-color: cyan;
}
body{
  background-color: aquamarine;
}
.card{
  text-align: center;
  background-color: azure;
}
.cardshow{
  border: 20px solid green;
  background-color: chartreuse;
  padding: 10px;
  margin: 10px;
}
.mynewnav{
  text-align: center;
}
header .navbar a {
  margin: 1.5rem;
  padding: 1.5rem;
  display: block;
  border: .2rem solid rgba(0, 0, 0, .1);
  border-left: .5rem solid var(--red);
  background: #fff;
}


@media(max-width:450px) {

  html {
    font-size: 50%;
  }


}
