{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title> postpost {{title}}</title>
  {% else %}
    <title> postpost </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} <h1 class='text-center'>postpost</h1> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>